.tosost{
  background-color: rgb(243, 239, 234);
}
.bgrim{
  background-color: aliceblue;
  padding: 10px;
  top: 25px;
  width: auto;
}
.pdng{
  margin-top: 25px;
  padding-top: 0.1px;
}
.mer{
  margin-left: 15%;
  margin-right: 15%;
}